.container__page-home.mymusic {
    margin: 110px 0 90px 0;
}

.container__mymusic {
    padding-bottom: 6px;
}

.container__mymusic-list {
    margin: 48px 0 90px 0;
}

.mymusic__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,100%,0.1);
    margin-bottom: 24px;
}

.mymusic__header-option {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.mymusic__header-link {
    font-size: 1.4rem;
    color: #DADADA;
    padding: 15px 0;
    margin-right: 40px;
    text-decoration: none;
    user-select: none;
}

.mymusic__header-link:hover {
    color: var(--white-color);
}

.mymusic__header-link--active {
    color: var(--white-color);
    border-bottom: 2px solid #9b4de0;
}

.mymusic__option {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.mymusic__option-item {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white-color);
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--white-color);
    text-transform: uppercase;
    margin-right: 16px;
    user-select: none;
}

.mymusic__option-item:hover {
    color: #c273ed;
    border-color: #c273ed;
}

.mymusic__option-item--active {
    background-color: #9b4de0;
    border-color: #9b4de0 !important;
    color: var(--white-color) !important;
}

.mymusic__title-list {
    display: flex;
    align-items: center;
    height: 46px;
    padding: 10px;
    user-select: none;
    border-bottom: 1px solid hsla(0,0%,100%,0.05);
}

.mymusic__title {
    font-size: 1.2rem;
    color: hsla(0,0%,100%,0.5);
    text-transform: uppercase;
    font-weight: 600;
}

.container__zingchart-item.mymusic:hover input[type=checkbox] {
    display: block;
}

.container__zingchart-item.mymusic:hover .icon-music {
    display: none;
}

.zingchart-item__left.mymusic > i {
    font-size: 1.36rem;
    color: hsla(0,0%,100%,0.5);
    margin-right: 12px;
}

.music-option__heart.mymusic {
    color: #9b4de0;
}

.text-hover.heart-hover.mymusic {
    top: -94%;
    left: 17px;
}

/* Mobile */
.container__option-mymusic-list {
    display: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    margin: 32px -8px 32px -8px;
}

.option__mymusic-item.mobile {
    padding: 0 8px;
    scroll-snap-align: start;
}
.option__mymusic-link.mobile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    background-color: var(--white-color);
}
.option__mymusic-link.mobile > i {
    font-size: 3rem;
    color: var(--black-color);
    margin-bottom: 24px;
}
.option__mymusic-link.mobile > .heart {
    color: rgb(77, 204, 254)
}
.option__mymusic-link.mobile > .down {
    color: #AC4CF4;
}
.option__mymusic-link.mobile > .user {
    color: #FE9736;
}
.option__mymusic-link.mobile > .upload {
    color: #FE7161;
}
.option__mymusic-link.mobile > .mv {
    color: #5D89FF;
}
.option__mymusic-name.mobile {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 6px;
}
.option__mymusic-quantity.mobile {
    font-size: 1.4rem;
    color: var(--black-color);
}
.container__mymusic-mobile {
    margin: 24px 0;
    display: none;
}
.container__card-section.mymusic {
    display: none;
}
.mymusic__header-mobile {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.mymusic__title-mobile {
    font-size: 2rem;
    color: #ddd;
    text-decoration: none;
    margin-right: 24px;
    position: relative;
}
.mymusic__title-mobile--active {
    color: var(--primary-color);
    font-weight: 600;
}
.mymusic__title-mobile--active::before {
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: var(--primary-color);
}
.mymusic__create {
    display: flex;
    align-items: center;
}
.create_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 12px;
}
.create_btn > i {
    font-size: 2.4rem;
}
.create__name {
    font-size: 1.4rem;
}
.mymusic__description-mobile {
    display: block;
    font-size: 1.4rem;
    color: #ddd;
    margin: 8px 0 12px 0;
}
.container__playlist-list-mobile {
    margin-bottom: 110px;
    margin: 0 -20px 0 -20px;
}
.playlist-item-mobile {
    display: flex;
    align-items: center;
    padding: 10px;
}
.playlist-item-mobile:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.playlist-item__left {
    display: flex;
    align-items: center;
    width: 90%;
}
.playlist-item__left > figure {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: 0 12px 0 10px;
}
.playlist-img-mobile {
    width: 100%;
    height: auto;
}
.info-mobile__name {
    font-size: 1.5rem;
}
.info-mobile__subtitle {
    display: block;
    font-size: 1.4rem;
    color: #ddd;
    margin-top: 4px;
}
.playlist-item__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.playlist-item__right > i {
    font-size: 2rem;
}


