@media (max-width: 1350px) {
    .l-2-1350px {
        min-width: 16.66667%;
        flex-shrink: 0;
    }
    .l-3-1350px {
        min-width: 25%;
        flex-shrink: 0;
    }
    .l-4-1350px {
        min-width: 33.33333%;
        flex-shrink: 0;
    }
    .l-12-1350px {
        min-width: 100%;
        flex-shrink: 0;
    }
    .hide-on-pc {
        display: none;
    }
    .card-avatar__item:last-child.l-2-1350px,
    .card-avatar__item:last-child.l-3-1350px {
        display: none;
    }
    .link__arrow-banner.left {
        right: 75%;
    }
    .link__arrow-banner.right {
        left: 75%;
    }
    .container__option-list.weekly-rankings {
        left: 94%;
    }
    .container__option-list.zing-chart {
        left: 91%;
    }
}

@media (max-width: 1225px) {
    .l-2-4-1225px {
        min-width: 20%;
        flex-shrink: 0;
    }
}

@media (max-width: 1175px) {
    .volume-bar {
        display: none;
    }
    .sidebar-list:last-child {
        max-height: 200px;
    }
    .item__separate {
        margin: 0 10px;
    }
}

@media (max-width: 1133px) {
    .sidebar-pc {
        background-color: var( --sidebar-table-mobile);
        width: var(--width-aside-table-mobile);
    }   
    .logo {
        justify-content: center;
        width: var(--width-aside-table-mobile);
        height: var(--height-aside-table-mobile);
    }
    .logo__img-pc {
        display: none;
    }
    .logo__img-table-mobile {
        display: block;
    }
    .item__name {
        display: none;
    }
    .sidebar-item:hover .sidebar-item__play {
        display: none;
    }
    .sidebar-item--active {
        border: none;
    }
    .sidebar-item--active svg {
        margin-left: 0;
    }
    .sidebar-divide {
        margin: 12px 0;
    }
    .vip-banner-sidebar {
        display: none;
    }
    .container-sidebar-add-list {
        display: none;
    }
    #container-primary {
        width: calc(100% - var(--width-aside-table-mobile));
        left: var(--width-aside-table-mobile);
    }
    .container__nav {
        left: var(--width-aside-table-mobile);
    }
}

@media (max-width: 1024px) {
    .m-2-4 {
        min-width: 20%;
        flex-shrink: 0;
    }
    .m-3 {
        min-width: 25%;
        flex-shrink: 0;
    }
    .m-4 {
        min-width: 33.33333%;
        flex-shrink: 0;
    }
    .m-6 {
        min-width: 50%;
        flex-shrink: 0;
    }
    .m-12 {
        min-width: 100%;
    }
    .hide-on-table-mobile {
        display: none;
    }
    .sidebar-list:last-child {
        max-height: 200px;
    }
    .nav__search-history {
        max-height: 50vh;
    }
    #container-primary {
        width: calc(100% - var(--width-aside-table-mobile));
        left: var(--width-aside-table-mobile);
    }
    .container__nav {
        left: var(--width-aside-table-mobile);
    }
    .container__card-banner-list {
        overflow-x: auto;
    }
    .container__card-banner-list:hover .link__arrow-banner {
        display: none;
    }
    .music-option-icon-heart,
    .music-option-icon-ellipsis,
    .music-option-icon-microphone {
        font-size: 1.5rem;
        padding: 4px 5px;
    }
    .container__option-list.banner .music-option-icon-play {
        font-size: 3rem;
        margin: 0 6px;
    }
    .container__card-banner-list,
    .card-avatar__list,
    .container__music-list,
    .container__charts-list,
    .container__topic-list,
    .container__card-zingchart-list {
        overflow-x: auto;
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
    }
    .container__card-link,
    .card-avatar__item,
    .container__music-list-col,
    .container__charts-item,
    .topic__col {
        scroll-snap-align: start;
    }
    .link__arrow-charts {
        display: none;
    }
    .item__separate {
        margin: 0 10px;
    }
    .volume-bar {
        display: none;
    }

    /* zing chart */
    .container__option-list.weekly-rankings {
        left: 93%;
    }
    /* radio */
    .container__page-home.radio {
        height: 100vh;
    }
    .link__arrow-radio.radio {
        top: 30%;
    }
    /* my music */
    .container__page-home.mymusic {
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .container__nav,
    .container__page-home {
        padding: 0 var(--padding-page-table-mobile);
    }
    .nav__form-search {
        max-width: 250px;
    }
    .nav__icon-search {
        left: 4%;
        font-size: 2.2rem;
    }
    .music-option-icon-heart,
    .music-option-icon-ellipsis,
    .music-option-icon-microphone {
        font-size: 1.5rem;
        padding: 4px 5px;
    }
    .container__option-list.banner .music-option-icon-play {
        font-size: 3rem;
        margin: 0 6px;
    }
    .text-hover.ellipsis-hover {
        top: -100%;
        right: -10px;
    }
    .text-hover.heart-hover {
        top: -100%;
        right: 29px;
    }

} 

@media (max-width: 739px) {
    *::-webkit-scrollbar {
        width: 0;
    }
    .hide-on-mobile {
        display: none;
    }
    .c-4 {
        min-width: 33.33333%;
        flex-shrink: 0;
    }
    .c-3-6 {
        min-width: 30.303030%;
        flex-shrink: 0;
    }
    .c-5-5 {
        min-width: 45.66667%;
        flex-shrink: 0;
    }
    .c-6 {
        min-width: 50%;
        flex-shrink: 0;
    }
    .c-9-8 {
        min-width: 81.66667%;
        flex-shrink: 0;
    }
    .c-12 {
        min-width: 100%;
        flex-shrink: 0;
    }
    .sidebar-pc {
        display: none;
    }
    .sidebar-mobile {
        display: block;
    }
    .container__header-mobile {
        display: flex;
    }
    #container-primary {
        width: 100%;
        left: 0;
    }
    .container__nav {
        display: none;
    }
    .container__page-home {
        padding: 0 var(--padding-page-mobile) 150px var(--padding-page-mobile);
    }
    .zing-chart-mobile {
        display: block;
    }
    .container__card-section.mobile {
        display: block;
    }
    .view-all__btn {
        display: none;
    }
    .topic__title {
        font-size: 1.6rem;
    }
    .header__title i {
        display: block;
    }
    .card-avatar__name {
        margin-top: 10px;
    }
    .card-avatar__item {
        margin-bottom: 12px;
    }
    .container__name-single-list {
        margin-top: 4px;
    }
    .container__card-banner-list {
        margin: 38px -8px 0 -8px;
    }
    /* .container__card-banner-list, */
    .card-avatar__list,
    .container__charts-list,
    .container__topic-list {
        margin: 0 -8px 0 -8px;
    }
    .card-content-live:hover .container__music-option {
        display: none;
    }
    .container__card-zingchart-list {
        display: none;
    }
    .container__card-link,
    .card-avatar__item,
    .container__music-list-col,
    .container__charts-item,
    .topic__col {
        padding: 0 8px;
    }
    .container__charts-item {
        margin-bottom: 10px;
    }
    .select-region-btn {
        font-size: 1rem;
        padding: 6px 16px;
        margin-right: 8px;
    }
    .container__music-list {
        margin: 0 -32px 0 -32px;
    }
    .music-list-col__item {
        padding: 10px 24px;
    }
    .music-list-col__item:hover .music__btn-play {
        display: none;
    }
    .music-option__more {
        display: block;
    }
    .music-option__more:hover .text-hover.more-hover {
        display: none;
    }
    .card-content:hover .container__music-option {
        display: none;
    }
    .card-avatar__img-live {
        display: none;
    }
    .header__btn-show-all {
        display: none;
    }
    .link__arrow-radio {
        display: none;
    }
    .container__music-partner {
        display: none;
    }
    #container__play-control {
        padding: 0 var(--padding-page-mobile);
        height: var(--height-sidebar-mobile);
        bottom: calc(var(--height-sidebar-mobile) + 0.5px);
    }
    .play-control__left {
        width: 70%;
    }
    .play-control__left figure {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .play-control__option:hover .text-hover.heart-hover  {
        display: none;
    }
    .play-control__center {
        width: 30%;
    }
    .play-control__center-top-item .pc {
        display: none;
    }
    .play-control__center-top {
        margin: 0;
    }
    .play-control__center-top-item {
        font-size: 2.2rem;
    }
    .play-control__center-top-item:hover {
        background-color: transparent;
    }
    .play-control__center-top-item:hover .text-hover.top-item {
        display: none;
    }
    .play-control__center-bottom {
        display: none;
    }
    .play-control__center-top-item .mobile {
        display: block;
        font-size: 2.2rem;
    }
    .play-control__center-top-item.mobile {
        display: flex;
    }
    .play-control__right {
        display: none;
    }
} 