@media (max-width: 1024px) {
    .m-2-4 {
        min-width: 20%;
        flex-shrink: 0;
    }
    .m-3 {
        min-width: 25%;
        flex-shrink: 0;
    }
    .m-4 {
        min-width: 33.33333%;
        flex-shrink: 0;
    }
    .m-6 {
        min-width: 50%;
        flex-shrink: 0;
    }
    .m-12 {
        min-width: 100%;
    }
    .hide-on-table-mobile {
        display: none;
    }
    aside {
        background-color: var( --sidebar-table-mobile);
        width: var(--width-aside-table-mobile);
    }
    .logo {
        justify-content: center;
        width: var(--width-aside-table-mobile);
        height: var(--height-aside-table-mobile);
    }
    .logo__img-pc {
        display: none;
    }
    .logo__img-table-mobile {
        display: block;
    }
    .item__name {
        display: none;
    }
    .sidebar-list:last-child {
        overflow: unset;
        height: var(--height-sidebar);
    }
    .sidebar-item:hover .sidebar-item__play {
        display: none;
    }
    .sidebar-item--active {
        border: none;
    }
    .sidebar-item--active svg {
        margin-left: 0;
    }
    .sidebar-divide {
        margin: 12px 0;
    }
    .vip-banner-sidebar {
        display: none;
    }
    .container-sidebar-add-list {
        display: none;
    }
    .nav__search-history {
        max-height: 50vh;
    }
    #container-primary {
        width: calc(100% - var(--width-aside-table-mobile));
        left: var(--width-aside-table-mobile);
    }
    .container__nav {
        left: var(--width-aside-table-mobile);
    }
    .container__card-banner-list {
        overflow-x: auto;
    }
    .container__card-banner-list:hover .link__arrow-banner {
        display: none;
    }
    .card-avatar__list,
    .container__music-list,
    .container__charts-list,
    .container__topic-list {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .link__arrow-charts {
        display: none;
    }
    .item__separate {
        margin: 0 10px;
    }
    .volume-bar {
        display: none;
    }

    /* zing chart */
    .container__option-list.weekly-rankings {
        left: 93%;
    }
    /* radio */
    .container__page-home.radio {
        height: 100vh;
    }
    .link__arrow-radio.radio {
        top: 30%;
    }
    /* my music */
    .container__page-home.mymusic {
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .container__nav,
    .container__page-home {
        padding: 0 var(--padding-page-table-mobile);
    }
    .nav__form-search {
        max-width: 250px;
    }
    .nav__icon-search {
        left: 4%;
        font-size: 2.2rem;
    }
    .music-option-icon-heart,
    .music-option-icon-ellipsis,
    .music-option-icon-microphone {
        font-size: 1.5rem;
        padding: 4px 5px;
    }
    .container__option-list.banner .music-option-icon-play {
        font-size: 3rem;
        margin: 0 6px;
    }
    .text-hover.ellipsis-hover {
        top: -100%;
        right: -10px;
    }
    .text-hover.heart-hover {
        top: -100%;
        right: 29px;
    }

} 

@media (max-width: 739px) {

}