.user__account.user-mobile {
    padding: 0;
    margin-top: 70px ;
}

.account__info.user-mobile figure {
    width: 80px;
    height: 80px;
}

.account__name.user-mobile {
    font-size: 2rem;
}

.package-option {
    display: flex;
    align-items: center;
}

.package-type.user-mobile {
    font-size: 1.4rem;
    padding: 2px 6px;
    margin-right: 6px;
}

.package-update-text {
    font-size: 1.4rem;
}

.container__package-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    margin: 0 -8px 0 -8px;
}

.package-item {
    scroll-snap-align: start;
    max-width: 350px;
    padding: 0 8px;
}

.container__package.mobile {
    min-height: 255px;
    transition: transform 0.2s ease;
}

.container__package.mobile:hover {
    transform: scale(0.95);
}

.container__package.bg1 {
    background: url('https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.101/static/media/subscription-package-plus.33ae1d19.png') 50%/cover no-repeat;
}

.container__package.bg2 {
    background: url('https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.101/static/media/subscription-package-premium.73768ec4.png') 50%/cover no-repeat;  
}

.package__header.user-mobile {
    display: flex;
    justify-content: space-between;
}

.preferential-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 2.2rem;
    border-radius: 12px;
    background-color: var(--white-color);
    margin-bottom: 12px;
}

.preferential-icon.plus {
    color:#8E4CFF;
    border: 1px solid #8E4CFF;
}

.preferential-icon.premium {
    color: #DCA519;
    border: 1px solid #DCA519;
}

.preferential-icon.waveform {
    color: #62D3F1;
    background-color: rgba(202, 241, 252,0.1);
}

.preferential-icon.repeat {
    color: #F472BC;
    background-color: rgba(252, 219, 239, 0.1);
}


.package__header-left {
    display: flex;
    align-items: center;
}

.package__header-name.user-mobile {
    font-size: 3rem;
    white-space: nowrap;
}

.package-type.plus.user-mobile,
.package-type.premium.user-mobile {
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 900;
    border-radius: 6px;
    padding: 4px 8px;
}

.package__title.user-mobile {
    font-size: 2.2rem;
    font-weight: 600;
}

.package__description.user-mobile {
    font-size: 2rem;
    white-space: wrap;
}

.preferential-list {
    display: flex;
    align-items: start;
    margin: 0 -8px 0 -8px;
}

.preferential-item {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 0 8px;
    transition: transform 0.2s ease;
}

.preferential-item.hover {
    min-height: 115px;
    max-height: 120px;
}

.preferential-item.hover:hover {
    transform: scale(0.95);
}

.preferential-item.center {
    align-items: center;
}

.package__header > i {
    font-size: 2.5rem;
    color: #666666;
}

.preferential-description {
    font-size: 1.5rem;
    color: #747474;
    text-align: start;
    user-select: none;
}

.preferential-description.center {
    text-align: center;
}

.user-section-option {
    margin: 32px 0;
}

.user-section__title {
    font-size: 2rem;
    margin-bottom: 12px;
    user-select: none;
}

.user-section-list {
    margin: 0 -10px 0 -10px;
}

.user-section-item {
    padding: 16px 10px;
    font-size: 1.8rem;
    user-select: none;
}

.user-section-item:hover  {
    background-color: rgba(255, 255, 255, 0.1);
}

.user-section-item > i {
    width: 21px;
    height: 21px;
    margin-right: 12px;
}

/* setting */
.option-mobile__item.setting:hover .child-function.setting {
    opacity: 1;
    transform: translateY(0);
}

.mobile-title {
    font-size: 2rem;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 12px 0 12px 16px;
    user-select: none;
}

.setting-mobile-list {
    list-style: none;
}

.setting-mobile-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    font-size: 2rem;
    height: 50px;
}

.setting-mobile-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.setting-mobile-item__left {
    display: flex;
    align-items: center;
}

.setting-mobile-item__left > i,
.mobile-title > i {
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 2rem;
    margin-right: 12px;
}

.setting-mobile-item__left > span,
.setting-mobile-item__right > i {
    font-size: 1.8rem;
    user-select: none;
}


.version {
    font-size: 1.6rem;
    color: #ccc;
    user-select: none;
}

/* natification */
.option-mobile__item.bell:hover .child-function.bell {
    opacity: 1;
    transform: translateY(0);
}

.notification-mobile-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    user-select: none;
    transition: background-color 0.2s ease;
}

.notification-mobile-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.notification-mobile-item > figure {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 12px;
}

.notification__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
}

.notification__title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.notification__title > h3 {
    font-size: 1.6rem;
}

.dots {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #ccc;
}

.notification__title > span {
    font-size: 1.5rem;
    color: #ccc;
}

.notification__desciption {
    font-size: 1.5rem;
    color: #ccc;
}

.notification__image {
    width: 100%;
    height: 100%;
}

/* search */
.option-mobile__item.search:hover .container-search-mobile {
    opacity: 1;
    transform: translate(0,-50%);
}

.container-search-mobile {
    position: absolute;
    top: 50%;
    left: -400%;
    transform: translate(150%,-50%);
    max-width: 200px;
    opacity: 1;
    transition: transform 0.3s ease;
}

.search-mobile__input {
    background-color: var(--white-color);
    border-radius: 20px;
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 30px;
    position: relative;
    font-size: 1.8rem;
    user-select: none;
}

.search-mobile__input + a {
    position: absolute;
    top: 20%;
    left: 3%;
    color: var(--main-content-color);
    font-size: 2rem;
}

/* packega option */
.package-option:hover .child-function.package-update,
.package-row:hover .child-function.child-package.plus,
.package-row:hover .child-function.child-package.premium {
    opacity: 1;
    transform: translateY(0);
}

.exit {
    font-size: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 65px;
    padding: 16px;
}

.container-pakage-update__title {
    font-size: 3rem;
    margin-top: 64px;
}

.container-pakage-update__option {
    display: flex;
    align-items: center;
    margin: 24px 0 36px 0;
}

.container-pakage-update__label {
    font-size: 1.6rem;
    color: #ccc;
    margin-right: 24px;
    position: relative;
    text-decoration: none;
}

.container-pakage-update__label--active {
    color: #DCA519;
}

.container-pakage-update__label--active::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 3px;
    border-radius: 4px;
    background-color: #DCA519;
}

.preferential-description__list {
    margin: 12px 0;
}

.preferential-description__item {
    font-size: 1.6rem;
    color: var(--black-color);
    margin: 6px 0 6px 16px;
}

.package-view__btn {
    width: 100%;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border-radius: 20px;
    user-select: none;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 24px;
    transition: transform 0.2s ease;
}

.package-view__btn:hover {
    transform: scale(0.98);
}


.package-view__btn.plus {
    background-color: #8E4CFF;
}

.package-view__btn.premium {
    background-color: #DCA519;
}

/* child package */
.package-item:hover .child-function.child-package.plus,
.package-item:hover .child-function.child-package.premium {
    opacity: 1;
    transform: translateY(0);
}

.child-package__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 48px 0;
}

.child-package__header > i {
    font-size: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 16px;
    color: #ccc;
}

.child-packge__option {
    font-size: 1.8rem;
    font-weight: 600;
    color: #666;
    text-decoration: none;
    position: relative;
}


.child-packge__option--active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 21px;
    height: 3px;
    border-radius: 4px;
}

.child-packge__option--active.plus {
    color: #8E4CFF;
}

.child-packge__option--active.plus::after {
    background-color: #8E4CFF;
}

.child-packge__option--active.premium {
    color: #DCA519;
}

.child-packge__option--active.premium::after {
    background-color: #DCA519;
}

.child-package__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child-package__list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    margin: 36px -8px;
}

.chil-package__col {
    padding: 0 8px;
    scroll-snap-align: start;
}

.child-package__link {
    background-color: var(--white-color);
    border-radius: 12px;
    padding: 12px;
    min-height: 200px;
    position: relative;
    transition: transform .2s ease;
}

.child-package__link:hover {
    transform: scale(0.96);
}

.child-package__link--active.plus {
    background-color: hsl(263, 100%, 93%);
    border: 2px solid #8E4CFF;
}

.child-package__link--active.premium {
    background-color: #FCF5E3;
    border: 2px solid #DCA519;
}

.child-package__time {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #666;
    margin-bottom: 12px;
}

.child-package__time--active.plus {
    color: #8E4CFF;
}  

.child-package__time--active.premium {
    color: #DCA519;
}  

.package__title-old {
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #7d7b7b;
    margin-top: 12px;
    font-weight: 600;
}

.child-package__node {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 10px 0 ;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 12px 12px;
}

.child-package__node.plus {
    background-color: #8E4CFF;
}

.child-package__node.premium {
    background-color: #DCA519;
}

.child-package__monopoly {
    list-style: none;
}

.child-package__monopoly-title {
    font-size: 2.5rem;
    color: #ccc;
    margin: 24px 0 12px 0;   
}

.child-package__monopoly-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 0;
    margin: 12px 0;
}

.child-package__monopoly-item:hover {
    transform: scale(0.98);
}

.child-package__monopoly-item__left {
    display: flex;
    align-items: center;
}

.child-package__monopoly-item > i {
    font-size: 2rem;
    color: #ccc;
}

.child-package__description {
    font-size: 1.6rem;
    color: #ccc;
    margin: 24px 0;
}

.child-package__description > a {
    display: block;
    color: #ccc;
    margin-top: 12px;
}

/* child preferential */
.preferential-col:hover .child-function.child-preferential {
    opacity: 1;
    transform: translateY(0);
}

.child-preferential__list {
    list-style: none;
}

.chil-preferential__title {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 12px 16px;
    user-select: none;
}

.child-preferential__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 12px 0;
    user-select: none;
    transition: background-color 0.2s ease;
}

.child-preferential__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.container-adjustment-bar {
    display: flex;
    flex-direction: column;
    margin: 24px 32px 12px 32px
}

.adjustment-bar {
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.adjustment-bar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #666;
}
.child-preferential__text {
    width: 70%;
    font-size: 1.8rem;
}

.child-preferential__description {
    display: block;
    font-size: 1.6rem;
    color: #ccc;
    margin-top: 4px;
}

.status {
    font-size: 1.6rem;
    color: #ccc;
    display: flex;
    align-items: center;
    user-select: none;
}

.status > i {
    margin-left: 12px;;
}



