.container__page-home.zingchart {
    margin: 110px 0 90px 0;
}
.container__zingchart {
    padding-bottom: 30px;
}

.title-text.zing-chart {
    background: radial-gradient(50% 124.93% at 95.86% -10%,#3efad9 0,hsla(0,0%,100%,0) 100%),linear-gradient(91.56deg,#ff9357 1.54%,#9100ff 98.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__zingchart-list {
    margin-bottom: 20px;
}

.container__zingchart-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    user-select: none;
    border-bottom: 1px solid hsla(0,0%,100%,0.05);
    transition: background-color 0.1s ease;
}

.container__zingchart-item:hover {
    background-color: hsla(0,0%,100%,0.1);
    border-radius: 4px;
}

.container__option-list.zing-chart {
    left: 93%;
}

.zingchart-item__left {
    display: flex;
    align-items: center;
    width: 50%;
}

.text-suggest {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 0 45px 0 17px;
    font-size: 1.4rem;
    color: hsla(0,0%,100%,0.5);
}

.top-zingchart {
    width: 60px;
    min-width: 38px;
    opacity: 0.7;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    color: rgba(74,144,226,0);
    -webkit-text-stroke: 1.5px var(--white-color);
}

.top-zingchart.weekly-rankings {
    width: 0;
}

.top-1 {
    -webkit-text-stroke: 1px #4a90e2;
}

.top-2 {
    -webkit-text-stroke: 1px #50e3c2;
}

.top-3 {
    -webkit-text-stroke: 1px #e35050;
}

.dash {
    display: flex;
    align-items: center;
    margin: 0 15px 0 7px;
}

.dash i {
    font-size: 1.6rem;
    color: hsla(0,0%,100%,0.5);
}

.zingchart-item__left figure {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.container__zingchart-item:hover .song-thumb {
    filter: brightness(60%);
}

.song-thumb {
    border-radius: 4px;
    width: 100%;
}      

.container-music__info.weekly-rankings {
    width: 50%;
}

.zingchart-item__content {
    width: 40%;
}

.content__name-song,
.right__time-song {
    font-size: 1.2rem;
    color: hsla(0,0%,100%,0.5);
    cursor: pointer;
}

.content__name-song:hover {
    text-decoration: underline;
    color: var( --primary-color);
}

.container__zingchart-item:hover .zingchart-item__right {
    display: none;
}

.zingchart-item__right {
    display: flex;
    justify-content: flex-end;
    width: 10%;
}

.see-all-btn {
    display: flex;
    justify-content: center;
}

.see-all-btn button {
    font-size: 1.4rem;
    padding: 10px 25px;
    border-radius: 20px;
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
    cursor: pointer;
    user-select: none;
}

.see-all-btn button:hover {
    background-color: hsla(0,0%,100%,0.1);
}

.container__weekly-rankings {
    position: relative;
    padding-top: 40px;
}

.bg-blur {
    position: absolute;
    inset: 0;
    background: url('https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.101/static/media/week-chart-bg.edf332e5.jpg') top/cover no-repeat;
    margin: 0 -59px;
    z-index: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.bg-alpha {
    position: absolute;
    inset: 0;
    background-color: rgba(32,19,53,0.9);
    margin: 0 -59px;
    z-index: 0;
}

.weekly-rankings__title {
    position: relative;
    margin-bottom: 20px;
}

.weekly-rankings__title-link {
    font-size: 4rem;
    font-weight: 600;
    color: var(--white-color);
    text-decoration: none;
    white-space: nowrap;
}

.weekly-rankings__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -14px 0 -14px;
}

.weekly-rankings__col {
    padding: 0 14px;
    margin-bottom: 30px;
}

.weekly-rankings__item {
    padding: 20px 10px;
    border-radius: 16px;
    background-color: hsla(0,0%,100%,0.05);;
}

.weekly-rankings__header {
    display: flex;
    align-items: center;
    padding: 0 0 10px 40px;
}

.weekly-rankings__header-link {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--white-color);
    text-decoration: none;
    margin-right: 12px;
}

.weekly-rankings__header-link:hover {
    color: var(--link-text-hover);
}

.container__zingchart-list.weekly-rankings {
    margin-bottom: 12px;
}

.play-btn.weekly-rankings {
    font-size: 3rem;
    color: var(--primary-color);
}

.container__zingchart-item.weekly-rankings {
    border: none;
}

.zingchart-item__left.weekly-rankings {
    width: 70%;
}

.zingchart-item__right.weekly-rankings {
    width: 30%;
}

.container__option-list.weekly-rankings {
    left: 85%;
}

/* weekly-ranking mobile */
.weekly-ranking-mobile {
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 12px -16px;
    padding: 24px 16px;
}

.weekly-ranking__title-mobile {
    font-size: 2rem;
}

.weekly-ranking__item-mobile {
    display: flex;
    margin: 20px 0;
    padding: 16px;
    border-radius: 12px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    user-select: none;
    transition: transform ease 0.2s;
}

.weekly-ranking__item-mobile:hover {
    transform: scale(0.95);
}

.weekly-ranking__item-mobile::after {
    content: "";
    filter: blur(20px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

.weekly-ranking__item-mobile.bg-blur-1::after {
    background: url('/Zing-mp3-clone/assets/img/zing-chart-mobile/zing-chat-week/2.jpg') center/cover no-repeat;
}

.weekly-ranking__item-mobile.bg-blur-2::after {
    background: url('/Zing-mp3-clone/assets/img/zing-chart-mobile/zing-chat-week/3.jpg') center/cover no-repeat;
}

.weekly-ranking__item-mobile.bg-blur-3::after {
    background: url('/Zing-mp3-clone/assets/img/zing-chart-mobile/zing-chat-week/1.jpg') center/cover no-repeat;
}

.weekly-ranking__item-mobile:last-child {
    margin-bottom: 0;
}

.weekly-ranking__item-mobile figure {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 12px;
}

.weekly-ranking__img-mobile {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.weekly-ranking__name-nation {
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.weekly-ranking__name-song {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.4rem;
    margin: 4px 0;
}




